<header data-cy="header">
  <div class="header">
    <app-home-logo></app-home-logo>

    <div class="menu">
      <nav class="nav nav--secondary">
        <div class="social-icons">
          <img src="/social/email.png" alt="Facebook" />
          <img src="/social/twitter.png" alt="Twitter" />
          <img src="/social/instagram.png" alt="LinkedIn" />
        </div>
        <a id="app-btn" class="btn btn-primary btn--square">Mobile App</a>
      </nav>

      <div class="separator">
        <div class="bookmark"></div>
      </div>

      <nav class="nav nav--primary">
        <a href="#">News</a>
        <a href="#">About us</a>
        <a href="#">Courses</a>
        <a href="#">Login</a>
      </nav>
    </div>
  </div>
</header>
