<header class="header" data-cy="header">
  <div class="contain contain--xl" style="background-color: red">
    <a href="/" class="header__logo">
      <app-home-logo></app-home-logo>
    </a>
  </div>
  <div class="header__menus">
    <nav class="nav nav--primary">
      <ul class="nav__menu nav__menu--level-0">
        <li
          class="nav__menu-item nav__menu-item--level-0 nav__menu-item--children"
        >
          <a class="nav__menu-link" href="#news">News</a>
        </li>
        <li
          class="nav__menu-item nav__menu-item--level-0 nav__menu-item--children"
        >
          <a class="nav__menu-link" href="#about">About us</a>
        </li>
        <li
          class="nav__menu-item nav__menu-item--level-0 nav__menu-item--children"
        >
          <a class="nav__menu-link" href="#courses">Courses</a>
        </li>
        <li
          class="nav__menu-item nav__menu-item--level-0 nav__menu-item--children"
        >
          <a class="nav__menu-link" href="">Login</a>
        </li>
      </ul>
    </nav>
    <nav class="nav nav--secondary">
      <ul class="nav__menu nav__menu--level-0">
        <li class="nav__menu-item">
          <img src="/social/email.png" alt="email-icon">
        </li>
        <li class="nav__menu-item">
          <img src="/social/twitter.png" alt="twitter-icon (fuck you elon)">
        </li>
        <li class="nav__menu-item">
          <img src="/social/instagram.png" alt="instagram-icon">
        </li>
      </ul>
      <a class="btn btn--primary btn--square" href="">Mobile App</a>
    </nav>
  </div>
</header>
