header {
  height: 130px;
  padding: 0;
  margin: 0;
}

.header {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  margin-left: 15px;
}

@media (min-width: 1600px) {
  .header > .menu > .nav--secondary {
    width: 90%;
  }
  .header > .menu > .nav--primary {
    width: 90%;
  }
}

.nav--secondary {
  position: relative;
}

#app-btn {
  position: absolute;
  right: 0;
  top: 100%;
}

.bookmark {
  border: 50px solid var(--primary-color);
  border-top: 260px solid var(--primary-color);
  border-bottom: 40px solid transparent;
  position: absolute;
  right: 0;
  top: 45px;
  filter: drop-shadow(-8px 5px 10px rgba(0, 0, 0, 0.2));
}

.nav--secondary .social-icons,
.nav--primary {
  display: flex;
  align-items: start;
  justify-content: flex-end;
  width: 100%;
}

.social-icons img {
  height: 35px;
  width: 35px;
  padding: 0 15px;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  margin: 10px 0 10px 0;
}

/* .nav--primary::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #DFDFDF;
  opacity: .7;
} */

.nav--primary a {
  text-decoration: none;
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
  font-size: 19px;
  line-height: 33px;
  font-weight: 500;
  padding: 0 20px;
  position: relative;
}

.nav--primary a::before {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -4px;
  width: calc(100% - 40px);
  height: 3px;
  background-color: var(--primary-action-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.125s ease-in-out;
}

.nav--primary a:hover::before {
  transform: scaleY(1);
}

.nav--primary a::after {
  content: "/";
  position: absolute;
  right: 0;
  font-size: 15px;
  color: var(--secondary-color);
  opacity: 0.85;
  pointer-events: none;
}

.nav--primary a:last-child::after {
  content: "";
}
