<!-- <header data-cy="header">
  <div class="header">
    <app-home-logo></app-home-logo>

    <div class="menu">
      <nav class="nav nav--secondary">
        <div class="social-icons">
          <img src="/social/email.png" alt="Facebook" />
          <img src="/social/twitter.png" alt="Twitter" />
          <img src="/social/instagram.png" alt="LinkedIn" />
        </div>
        <a id="app-btn" class="btn btn-primary btn--square">Mobile App</a>
      </nav>

      <div class="separator">
        <div class="bookmark"></div>
      </div>

      <nav class="nav nav--primary">
        <a href="#">News</a>
        <a href="#">About us</a>
        <a href="#">Courses</a>
        <a href="#">Login</a>
      </nav>
    </div>
  </div>
</header> -->

<header class="header" data-cy="header">
  <div class="contain contain--xl" style="background-color: red">
    <a href="/" class="header__logo">
      <app-home-logo></app-home-logo>
    </a>
  </div>
  <div class="header__menus">
    <nav class="nav nav--primary">
      <ul class="nav__menu nav__menu--level-0">
        <li
          class="nav__menu-item nav__menu-item--level-0 nav__menu-item--children"
        >
          <a class="nav__menu-link" href="#news">News</a>
        </li>
        <li
          class="nav__menu-item nav__menu-item--level-0 nav__menu-item--children"
        >
          <a class="nav__menu-link" href="#about">About us</a>
        </li>
        <li
          class="nav__menu-item nav__menu-item--level-0 nav__menu-item--children"
        >
          <a class="nav__menu-link" href="#courses">Courses</a>
        </li>
        <li
          class="nav__menu-item nav__menu-item--level-0 nav__menu-item--children"
        >
          <a class="nav__menu-link" href="/login">Login</a>
        </li>
      </ul>
    </nav>
    <nav class="nav nav--secondary">
      <a class="btn btn--primary btn--square" href="/login">Mobile App</a>
    </nav>
  </div>
</header>
