<div class="search-container">
  <form [formGroup]="searchForm" class="search-form">
    <div class="input-group">
      <input
        type="text"
        formControlName="searchTerm"
        placeholder="Search by username or email..."
        class="search-input"
      />
      <mat-icon class="search-icon">search</mat-icon>
    </div>

    <button
      mat-raised-button
      type="button"
      (click)="onAddNew.emit()"
      class="add-button"
    >
      <mat-icon>add</mat-icon>
      Add New User
    </button>
  </form>
</div>
