img {
  width: 80px;
  height: auto;
  margin-right: 1rem;
}

div > div {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}
