.todo-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
  margin: 0 24px;
  position: relative;
}

.filter-group {
  flex: 1;
  min-width: 200px;
}

.search-group {
  flex: 2;
}

.add-button {
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-5%);
}

.todo-list {
  gap: 16px;
  margin: 26.13px 24px 0;
}

.loading,
.error,
.empty {
  text-align: center;
  padding: 20px;
  color: #666;
}

.error {
  color: #d32f2f;
}
