.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

h2 {
  font-family: 'Lora', sans-serif;
}

label, input {
  font-family: 'Poppins', sans-serif;
}

.login-container {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
.input-group {
  margin-bottom: 1rem;
  text-align: left;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.input-group input {
  width: calc(100% - 24px);
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.btn-primary,
.btn-secondary {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: none;
  letter-spacing: 1.5px;
  transition: background-color 0.3s ease-in-out;  
}
.btn-primary {
  background: var(--primary-action-color);
  color: white;
}
.btn-primary:hover {
  filter: brightness(90%);
}
.btn-secondary {
  background: var(--secondary-action-color);
  color: white;
}
.btn-secondary:hover {
  filter: brightness(90%);
}
.error-message {
  color: red;
  margin-top: 1rem;
}
.qr-container {
  margin-top: 1rem;
}
.close__img-wrapper {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 2;
  cursor: pointer;
}
.close__img-wrapper .close__img {
  color: var(--primary-action-color);
  height: 25px;
  width: 25px;
}
