.focused__container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 369px;
  overflow-x: hidden;
}

.focused__container::before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 1px;
  height: calc(100% - 369px);
  background: #dfdfdf;
}
.focused__container::after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 1px;
  height: calc(100% - 369px);
  background: #dfdfdf;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1640px) {

}