@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:host {
  display: block;
  width: 100%;  
}

.swiper {
  max-width: 100%;
  height: 300px;
  padding: 20px 0;
}
.swiper-button-prev {
  padding-left: 20px;
}
.swiper-button-next {
  padding-right: 20px;
}