:host {
  display: block; /* Important for nth-child to work */
}

.news-card {
  padding: 1.5rem;
  width: calc(100% - 48px);
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-card::after {
  width: calc(100% - 48px);
  left: 20px;
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 1px;
  background: #dfdfdf;
}

.news-card::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(
    to top,
    rgba(var(--primary-color-rgb), 0.32),
    transparent
  );
  transition: height 0.3s ease-in-out;
}

.news-card:hover {
  cursor: pointer;
}

.news-card:hover::before {
  height: calc(75% - 1px);
}

.news-title {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--secondary-action-color);
}

.news-title::after {
  content: "";
  display: block;
  width: 3ch;
  height: 5px;
  background: #dfdfdf;
  opacity: 55%;
  margin-top: 10px;
}

.news-body {
  font-size: var(--font-size-medium);
  color: #555;
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.news-date {
  font-size: var(--font-size-small);
  color: #888;
}

@media (min-width: 1024px) {
  .news-card {
    border-right: 1px solid #dfdfdf;
    max-width: 215px;
    height: 175px;
  }
  :host:nth-child(2n) .news-card {
    border-right: none;
  }
}

@media (min-width: 1200px) {
  .news-card {
    width: 275px;
    height: 225px;
  }  
}

@media (min-width: 1400px) {
  .news-card {
    max-width: 320px;
    height: 275px;
  }  
}
