<div class="section--wrapper">
  <h1 class="section__header">User Control</h1>
  <div
    *ngIf="message"
    class="feedback-message"
    [class.success]="messageType === 'success'"
    [class.error]="messageType === 'error'"
  >
    {{ message }}
  </div>
  <div class="section--content">
    <app-user-search
      (searchResults)="handleSearchResults($event)"
    ></app-user-search>
  </div>
  <div class="section--content">
    <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
    <app-user-card-list
      *ngIf="!selectedUser && !isLoading"
      [users]="filteredUsers"
      (userSelected)="selectedUser = $event"
    ></app-user-card-list>

    <app-user-card
      *ngIf="selectedUser"
      [user]="selectedUser"
      (backToList)="selectedUser = null"
    ></app-user-card>
  </div>
</div>
