<div class="section--wrapper">
  <h1 class="section__header">User Control</h1>
  <div
    *ngIf="message"
    class="feedback-message"
    [class.success]="messageType === 'success'"
    [class.error]="messageType === 'error'"
  >
    {{ message }}
  </div>
  <div class="section--content" *ngIf="!selectedUser">
    <app-user-search
      [allUsers]="allUsers"
      (filteredUsers)="filteredUsers = $event"
      (onAddNew)="handleAddNew()"
    ></app-user-search>
  </div>

  <div class="section--content">
    <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>

    <app-user-card-list
      *ngIf="!selectedUser && !isLoading"
      [users]="filteredUsers"
      (userSelected)="selectedUser = $event"
    ></app-user-card-list>

    <app-user-details
      *ngIf="selectedUser && !isLoading"
      [user]="selectedUser"
      (backToList)="selectedUser = null"
    ></app-user-details>
  </div>
</div>
